**/._*
**/__pycache__
**/*~
**/*.asv
**/cache/**
**/*#*
**/*.DS_Store
**/*.pyc
**/logs/**
**/.idea/**
python/venv
python/Generators/remcom_maps
python/Experiments/savedResults
python/Experiments/savedWeights
python/logs
python/.idea


